version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    ports:
      - "27017:27017"
    healthcheck:
      test: mongosh --eval 'db.adminCommand("ping")' --quiet
      interval: 5s
      timeout: 3s
      retries: 5
  api:
    build: .
    container_name: api
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://root:1234@mongo:27017/mi_basedatos?authSource=admin
    depends_on:
      - mongo
    restart: unless-stopped
