version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "${PORT_MONGO}:27017"
    healthcheck:
      test: mongosh --eval 'db.adminCommand("ping")' --quiet
      interval: 5s
      timeout: 3s
      retries: 5
  api:
    build: .
    container_name: api
    ports:
      - "${PORT_API}:3000"
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/"
    depends_on:
      - mongo
    restart: unless-stopped
