name: Docker Build & Push

on:
  push:
    branches: [master, main]
  workflow_dispatch:

# Para publicar en Docker Hub y enviar notificaciones a Telegram
jobs:

  # Construcci贸n y publicaci贸n de la imagen Docker
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    # Pasos del trabajo. Se usa la acci贸n oficial de Docker para iniciar sesi贸n y luego se construye y publica la imagen.
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build & Push
        run: |
          VERSION=$(grep -Po '(?<="version": ")[^"]*' package.json)
          IMAGE=${{ secrets.DOCKER_USERNAME }}/api-docker
          docker build -t $IMAGE:v$VERSION -t $IMAGE:latest .
          docker push $IMAGE:v$VERSION
          docker push $IMAGE:latest
          
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git ls-remote --tags origin | grep -q "refs/tags/v$VERSION$" || (git tag -a "v$VERSION" -m "Release v$VERSION" && git push origin "v$VERSION")
          
          
          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
            -d chat_id="${{ secrets.TELEGRAM_CHAT_ID }}" \
            -d text=" *v${VERSION}* desplegada%0A \`${IMAGE}\`%0A $(git log -1 --pretty=%B)" \
            -d parse_mode="Markdown"